/* 
 test.css 파일을 작성, 불러올 목적
*/

h3, ol {
			font-family:돋움체; /* 글자체 */
			font-size:14pt; /* 글자크기 */
			color:blue; /* 글자색 */
			font-weight: bold; /*글자 굵게(강조) bold, bolder, 100, 200.. */

}